   html,
body {
  background: #ffeeee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ddefbb,
    #ffeeee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ddefbb,
    #ffeeee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* margin: 5px; */
}
/* Nav bar */
.navigation {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: red;
}
.navigation a:hover {
  background-color: #db910f;
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
/* Heading Format */
h1 {
  color: #db910f;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 50px;
  display: block;
}
.title {
  text-align: left;
  justify-content: left;
  width: 30%;
  height: 75px;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  animation-name: journey;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes journey {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Grid Format */
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #43585e;
}
.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
}
.zoom:hover img {
  opacity: 0.7;
}
img {
  border-radius: 10px;
  padding: 5px;
}
.description {
  display: none;
  position: absolute;
}
.zoom:hover .description {
  display: block;
  text-align: center;
}
.zoom:hover {
  transform: scale(1.1);
}
